@charset "utf-8";

html {
	background-color: #F8070B;
	}

/********************************* REGATTA-KOPF ******************************/
#regattakopf h1 {
	font-size: 3em;
	}	

/********************************* CONTENT ******************************/
#content table {
	width: 100%;
	}
